html {
  font-size: 18px;
  background-color: #e0e5e9;
  font-family: 'Roboto', sans-serif;
}

ul.header_li li {
  display: inline;
  margin-right: 15px;
  padding: 3px;
}

div.location div {
  display: inline;
  margin-right: 60px;
  margin-left: 30px;
}

.alignment {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

.alignment-footer {
  margin: 0 auto;
  position: relative;
}

.avatar {
  width: 140px;
  height: 150px;
  margin-left: 140px;
  margin-top: 15px;
}

a {
  text-decoration: none;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #9f1491;
}

.experience a {
  color: #000000;
}

.fon {
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 5px #c8d6d6;
  background-color: #c8d6d6;
}

.bg-block {
  border-radius: 20px;
  padding: 1px;
  margin-bottom: 15px;
}

.color_fon_about {
  background: #eedfd8;
}

.color_fon_skills {
  background: #93f8c5;
}

.color_fon_experience {
  background: #e5f0a7;
}

.color_fon_education {
  background: #eedbcc;
}

.color_fon_languages {
  background: #f1edc6;
}

.location {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

li {
  margin-bottom: 8px;
}

.to {
  vertical-align: 10px;
}

a:hover {
  color: rgb(247, 126, 79);
}

.lef {
  text-align: center;
}

h2 {
  font-size: 28px;
  text-align: center;
}

.popup {
  display: none;
}

select {
  background: none;
  padding: 6px 12px;
  font-size: 15px;
  outline: none;
}

select:active,
select:focus {
  background: #c8d6d6;
}

.fon-nav {
  display: flex;
  overflow: hidden;
  align-items: center;
  margin: 0 auto;
  width: 800px;
}

.head {
  box-shadow: 0 0 5px #c8d6d6;
  background-color: #c8d6d6;
}

.contact-info {
  display: flex;
  justify-content: center;
}

.contacts li img {
  width: 25px;
  height: 25px;
}

.contacts li {
  display: flex;
  margin-bottom: 10px;
}

.contacts span {
  margin-left: 19px;
  margin-top: 3px;
}

.linkedin {
  margin-left: 30px;
  width: 30px;
  height: 30px;
}

.tg {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.color_fon_skills ul {
  margin-left: 300px;
}

.color_fon_skills ul li {
  display: block;
  margin-left: 20px;
}

.color_fon_about p {
  margin-left: 20px;
}

.experience {
  margin-left: 150px;
}

.education {
  margin-left: 40px;
}

.color_fon_languages li {
  display: block;
  margin-left: 290px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

.messengers {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.messengers a {
  display: flex;
  align-items: center;
}

.messengers img:hover {
  scale: 1.3;
  transition: 0.5s;
}

.img_animation:hover {
  scale: 1.3;
  transition: 0.5s;
}

.messengers span {
  margin-left: 8px;
  color: #000000;
}

.messengers a:hover {
  text-decoration: underline;
  color: #000000;
}

.contacts {
  margin-bottom: 10px;
}

.contacts li a {
  display: flex;
  align-items: center;
  color: #000000;
}

.contacts li a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .bg-block {
    width: 630px;
    margin-bottom: 10px;
  }

  .alignment {
    width: 640px;
  }

  .color_fon_skills ul {
    margin-left: 200px;
  }

  .experience {
    margin-left: 80px;
  }

  .experience a {
    font-size: 18px;
  }

  .education {
    margin-left: 0;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  ul.header_li li {
    margin-right: 10px;
  }

  .header_li {
    margin-left: 40px;
  }

  .color_fon_about p {
    margin-right: 10px;
  }

  .color_fon_languages li {
    margin-left: 210px;
  }

  .avatar {
    margin-left: 40px;
  }
}

@media screen and (max-width: 767.98px) {
  .lineburg {
    display: block;
    height: 2px;
    width: 30px;
    margin: 6px auto;
    background-color: #e11313;
    transition: 0.5s;
    margin-top: 9px;
  }

  .popup {
    position: fixed;
    display: flex;
    top: 0px;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #292929;
    z-index: 5;
    transition: all 0.5s ease-in;
  }

  .blackout.active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: block;
  }

  .blackout {
    display: none;
  }

  .burgert {
    display: block;
    margin: 9px 50px 9px 200px;
    z-index: 12;
    transition: all 0.5s ease-in;
    width: 30px;
  }

  .head.open .burgert.active {
    transform: translateY(0) translateX(0px) rotate(90deg);
  }

  .bg-block {
    width: 330px;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .avatar {
    width: 100px;
    height: 100px;
    margin-left: 0;
    margin-top: 20px;
  }

  .alignment {
    width: 340px;
  }

  .education li {
    font-size: 15px;
    margin-left: 0px;
    width: 270px;
  }

  .experience li {
    font-size: 15px;
    margin-left: 0px;
    width: 270px;
  }

  a {
    font-size: 32px;
    color: #cdcdcd;
  }

  .to {
    font-size: 15px;
  }

  li {
    font-size: 15px;
  }

  .lef {
    margin-left: 50px;
    width: 270px;
  }

  ul {
    width: 200px;
  }

  .fon-nav {
    width: 100%;
    justify-content: space-between;
    margin-right: 150px;
  }

  .color_fon_skills ul {
    margin-left: 40px;
  }

  .experience {
    margin-left: 0;
  }

  .experience a {
    font-size: 15px;
  }

  .education {
    margin-left: 0;
  }

  .color_fon_about p {
    font-size: 15px;
    margin-right: 10px;
  }

  .color_fon_languages li {
    font-size: 15px;
    margin-left: 70px;
  }

  h2 {
    font-size: 20px;
  }

  .contacts span {
    font-size: 15px;
    margin-left: 10px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  .github {
    width: 40px;
    height: 40px;
  }

  .location {
    margin-top: 5px;
  }

  .fon {
    height: 55px;
  }

  div.location div {
    height: 45px;
  }

  .to {
    margin-top: 24px;
  }

  .header_li {
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    max-width: 320px;
    height: 100vh;
    flex-direction: column;
    padding-top: 150px;
    font-size: 0;
    gap: 1.1em;
    background: #241e1e;
    opacity: 0;
    transition:
      right 0.5s ease-in-out,
      opacity 0.5s ease;
    z-index: 4;
  }

  .head.open .header_li {
    right: 0;
    opacity: 1;
    z-index: 4;
    overscroll-behavior: contain;
  }

  .stop-scrolling {
    height: 100vh;
    overflow: hidden;
  }

  ul.header_li li {
    padding: 8px;
    margin-left: 30px;
  }

  select {
    padding: 4px 10px;
    margin-top: 25px;
    margin-left: 40px;
    width: 100px;
    height: 35px;
    background: #cdcdcd;
    text-align: center;
  }

  option {
    background: #cdcdcd;
  }

  select:active,
  select:focus {
    background: #cdcdcd;
  }

  .messengers {
    display: block;
  }

  .linkedin {
    margin-left: 0;
  }

  .tg {
    margin-left: 0;
  }

  .messengers a {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .contacts li a {
    font-size: 0;
  }

  .contact-info ul {
    padding-left: 0;
  }
}
