html {
  font-size: 18px;
  background-color: #e0e5e9;
  font-family: 'Roboto', sans-serif;
}

ul.header_li li {
  display: inline;
  margin-right: 15px;
  padding: 3px;
}

div.location div {
  display: inline;
  margin-right: 60px;
  margin-left: 30px;
}

.alignment {
  margin: 0 auto;
  width: clamp(18rem, 6rem + 60vw, 48rem);
}

.alignment-footer {
  margin: 0 auto;
}

.avatar {
  margin-top: 20px;
  width: clamp(6rem, 3rem + 10vw, 8rem);
  height: clamp(6rem, 3rem + 10vw, 8rem);
}

.fon-nav a {
  text-decoration: none;
}

a {
  color: #000000;
}

.experience a {
  color: #000000;
}

.fon {
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 5px #c8d6d6;
  background-color: #c8d6d6;
  min-width: 18rem;
}

.bg-block {
  border-radius: 20px;
  padding: 1px;
  margin-bottom: 15px;
}

.color_fon_about {
  background: #eedfd8;
}

.color_fon_skills {
  background: #93f8c5;
}

.color_fon_experience {
  background: #e5f0a7;
}

.color_fon_education {
  background: #eedbcc;
}

.color_fon_projects {
  background: #93f8c5;
}

.color_fon_languages {
  background: #f1edc6;
}

.location {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

li {
  margin-bottom: 8px;
}

.to {
  vertical-align: 10px;
}

.fon-nav a:hover {
  padding: 3px 10px;
  margin: 0 -10px;
  border-radius: 4px;
  background: #5c3d2c;
  color: #ffffff;
}

.lef {
  text-align: center;
}

h2 {
  font-size: 28px;
  text-align: center;
}

.popup {
  display: none;
}

select {
  background: none;
  padding: 6px 12px;
  font-size: 15px;
  outline: none;
}

select:active,
select:focus {
  background: #c8d6d6;
}

.fon-nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.head {
  box-shadow: 0 0 5px #c8d6d6;
  background-color: #c8d6d6;
  min-width: 18rem;
}

.contact-info {
  display: flex;
  justify-content: center;
}

.contacts li img {
  width: 25px;
  height: 25px;
}

.contacts li {
  display: flex;
  margin-bottom: 10px;
}

.contacts span {
  margin-left: 19px;
  margin-top: 3px;
}

.linkedin {
  width: 30px;
  height: 30px;
}

.tg {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.color_fon_skills ul {
  text-align: center;
  padding-left: 0;
}

.color_fon_skills ul li {
  display: block;
}

.color_fon_about p {
  margin-right: 15px;
  margin-left: 15px;
}

.color_fon_languages li {
  display: block;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

.messengers {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.messengers a {
  display: flex;
  align-items: center;
}

.messengers span {
  margin-left: 8px;
  width: 6rem;
}

.messengers a:hover > img {
  scale: 1.3;
  transition: 0.5s;
}

.contacts {
  margin-bottom: 10px;
  margin-right: 5px;
}

.contacts li a {
  display: flex;
  align-items: center;
}

.contacts li a:hover > img {
  scale: 1.3;
  transition: 0.5s;
}

.lng-contact {
  margin: 0;
}

.color_fon_languages ul {
  text-align: center;
  padding-left: 0;
}

.education li {
  margin-right: 15px;
}

.header_li {
  padding-left: 0;
}

.experience {
  padding-left: 1.4rem;
  margin-left: clamp(0.01rem, calc(15vw - 3.7rem), 140rem);
}

.experience li {
  margin-right: 15px;
}

.shelter_img {
  width: 200px;
  height: 150px;
  border-radius: 4%;
  box-shadow: 0 0 70px antiquewhite;
  filter: grayscale(1) blur(2px);
  transition: 0.7s all ease-in-out;
}

.plants_img {
  width: 200px;
  height: 150px;
  border-radius: 4%;
  box-shadow: 0 0 70px antiquewhite;
  filter: grayscale(1) blur(2px);
  transition: 0.7s all ease-in-out;
}

.projects {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-left: 0;
  margin-left: calc(30% - 6.2rem);
  margin-right: calc(30% - 6.2rem);
}

.github_project_img {
  width: 25px;
  height: 25px;
  margin-left: 30px;
  position: absolute;
  top: 163px;
  right: 45px;
}

.github_project_img:hover {
  scale: 1.3;
  transition: 0.5s;
}

.shelter {
  position: relative;
}

.shelter_hov:hover > a > img {
  filter: grayscale(0) blur(0px);
  transition: 0.4s all ease-in-out;
  scale: 1.1;
}

.plants {
  position: relative;
}

.plants_hov:hover > a > img {
  filter: grayscale(0) blur(0px);
  transition: 0.4s all ease-in-out;
  scale: 1.1;
}

#shelter_p,
#plants_p {
  margin: 0;
  padding: 10px 0 10px 45px;
}

.linkd-ant {
  margin-right: 65px;
}

@media screen and (min-width: 768px) and (max-width: 930.98px) {
  .bg-block {
    margin-bottom: 10px;
  }

  .experience a {
    font-size: 18px;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  ul.header_li li {
    margin-right: 10px;
  }

  .shelter_hov:hover > a > img {
    filter: none;
    transition: none;
    scale: none;
  }

  .shelter_img {
    box-shadow: none;
    filter: none;
    transition: none;
  }

  .plants_hov:hover > a > img {
    filter: none;
    transition: none;
    scale: none;
  }

  .plants_img {
    box-shadow: none;
    filter: none;
    transition: none;
  }

  .github_project_img {
    scale: 1.3;
  }

  .messengers img:hover {
    scale: none;
  }

  .img_animation:hover {
    scale: none;
  }

  .messengers a:hover > img {
    scale: none;
  }

  .contacts li a:hover > img {
    scale: none;
  }

  .fon-nav a:hover {
    background: none;
    color: inherit;
  }
}

@media screen and (max-width: 767.98px) {
  .lineburg {
    display: block;
    height: 2px;
    width: 30px;
    margin: 6px auto;
    background-color: #b9955e;
    transition: 0.5s;
    margin-top: 9px;
  }

  .popup {
    position: fixed;
    display: flex;
    top: 0px;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #292929;
    z-index: 5;
    transition: all 0.5s ease-in;
  }

  .blackout.active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: block;
  }

  .blackout {
    display: none;
  }

  .burger {
    display: block;
    margin: 9px 50px 9px 200px;
    z-index: 12;
    transition: all 0.5s ease-in;
  }

  .head.open .burger.active {
    transform: translateY(0) translateX(0px) rotate(90deg);
  }

  .bg-block {
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .education li {
    font-size: 15px;
    margin-right: 10px;
  }

  .experience li {
    font-size: 15px;
    margin-left: 0px;
    margin-right: 10px;
  }

  .header_li a {
    font-size: 28px;
    color: #cdcdcd;
  }

  .to {
    font-size: 15px;
  }

  li {
    font-size: 15px;
  }

  .fon-nav {
    justify-content: space-between;
  }

  .experience a {
    font-size: 15px;
  }

  .education {
    padding-left: 1.4rem;
  }

  .color_fon_about p {
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .color_fon_languages li {
    font-size: 15px;
  }

  h2 {
    font-size: 20px;
  }

  .contacts span {
    font-size: 15px;
    margin-left: 10px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  .github {
    width: 40px;
    height: 40px;
  }

  .location {
    margin-top: 5px;
  }

  .fon {
    height: 55px;
  }

  div.location div {
    height: 45px;
  }

  .to {
    margin-top: 24px;
  }

  .header_li {
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    max-width: 320px;
    height: 100vh;
    flex-direction: column;
    padding-top: 100px;
    font-size: 0;
    gap: 1.1em;
    background: #241e1e;
    opacity: 0;
    transition:
      right 0.5s ease-in-out,
      opacity 0.5s ease;
    z-index: 4;
  }

  .head.open .header_li {
    right: 0;
    opacity: 1;
    z-index: 4;
    overscroll-behavior: contain;
  }

  .stop-scrolling {
    height: 100vh;
    overflow: hidden;
  }

  ul.header_li li {
    padding: 8px;
    margin-left: 50px;
  }

  select {
    padding: 4px 10px;
    margin-top: 15px;
    margin-left: 60px;
    width: 100px;
    height: 35px;
    background: #cdcdcd;
    text-align: center;
  }

  option {
    background: #cdcdcd;
  }

  select:active,
  select:focus {
    background: #cdcdcd;
  }

  .messengers {
    display: block;
  }

  .tg {
    margin-left: 0;
  }

  .messengers a {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .contacts li a {
    font-size: 0;
  }

  .contact-info ul {
    padding-left: 0;
  }

  .projects {
    display: grid;
    justify-content: center;
  }

  .shelter_hov a {
    font-size: 10px;
  }

  .plants_hov a {
    font-size: 10px;
  }

  #shelter_p {
    font-size: 15px;
    margin-bottom: 25px;
  }

  #plants_p {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .shelter_hov:hover > a > img {
    filter: none;
    transition: none;
    scale: none;
  }

  .shelter_img {
    box-shadow: none;
    filter: none;
    transition: none;
  }

  .plants_hov:hover > a > img {
    filter: none;
    transition: none;
    scale: none;
  }

  .plants_img {
    box-shadow: none;
    filter: none;
    transition: none;
  }

  .github_project_img {
    scale: 1.3;
    top: 161px;
  }

  .messengers img:hover {
    scale: none;
  }

  .img_animation:hover {
    scale: none;
  }

  .messengers a:hover > img {
    scale: none;
  }

  .contacts li a:hover > img {
    scale: none;
  }

  .fon-nav a:hover {
    background: none;
    color: #cdcdcd;
  }
}
